body {
    font-family: Lucidatypewriter, monospace;
}
button {
    font-family: Lucidatypewriter, monospace;
    font-size: 20px;
}

h1 {
    color: gray;
    font-size: 38px;
}

#field-input {
    width: 293px;
    margin-left: 8px;
    padding: 20px;
    font-size: 20px;
}

#calculator-field {
    display: flex;
    flex-direction: row;
}

#calc-body-wrapper {
    display: flex;
    flex-direction: row;
  
}

#calculator-body {
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.calc-body-buttons {
    padding: 25px;
    margin: 5px;
}

.calc-operator-buttons {
    padding: 25px;
    margin: 5px;
}

#calculator-operators {
    
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    /* flex-wrap: wrap; */
}

#calculation-output {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 40px;
}

#calculation-result {
    font-size: 30px;
    margin-left: 115px;
}

#calculation-history {
    font-size: 18px;
}